body,h1,h2,h3,ul,li{
    margin:5;
    padding:5;
}
h1{
    color:rgb(33, 147, 175);
}
body{
    background-color: rgb(171, 138, 148);
}
body{
    font-family: 'Courier New', Courier, monospace;
}